<% layout('layouts/boilertemplate')%>
<!-- D: map here style=.. -->
<!-- <div class="d-flex flex-column"> -->
<section> <!-- class="position-absolute top-0 start-0 m-0 p-0"-->
    <div>
        <div id="map" class="wide-map" ></div>
    </div>
</section>
<section class="container">
    <h1>All Campgrounds</h1>
    <div class="">
        <div class="search_wrap search_wrap_1">
			<div class="search_box">
				<input type="text" class="input" placeholder="search..." id="searchInput">
				<div class="btn btn_common">
					<i class="fas fa-search"><img src="/images/search_search.png" style="size: 30px;"></i>
				</div>
			</div>
            <div class="">
                <ul class="list-group list-group-flush" id="displaySearchItemsUl"> <!-- Dom should add items here dynamically-->
                    <!-- R: searchbox.js-->
                </ul>
            </div>
		</div>
    </div>
    <div>
        <a href="/campgrounds/new" id="newCampgroundLink">New Campground</a>
        <% if(!currentUser){ %> 
            <div class="hide popover">
                <div class="popover-content">
                    Sign in to add a campground
                </div>
            </div>
        <% } %> 
    </div>
<!-- If you want 3 x 3 display, ref: TechTree Webapp -->
            <% for(const campground of campgrounds){ %>
                <!-- <div class=" row-sm-10 row-xl-6 offset-sm-1 offset-xs-0"> -->
                    <div class="card mb-3" style="max-width: 540px;"> <!-- Add jquery for centering items when sm s-->
                        <div class="row">
                            <div class="col-md-4 text-center text-md-start">
                                <img src="<%= campground.images[0].thumbnail%>" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8 text-center text-md-start">
                                <div class="card-body">
                                <h5 class="card-title"><%= campground.title %></h5>
                                <p class="card-text"><%= campground.description %> </p>
                                <p class="card-text"><small class="text-muted">Location: <%= campground.location %></small></p>
                                <p class="card-text"><small class="text-muted">$<%= campground.price %>/night</small></p>
                                <p class="card-text"><a href="/campgrounds/<%=campground._id%>">View</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                    <% } %>
<!-- </div> -->
</section>
<script>
    const mapboxToken = '<%- process.env.MAPBOX_TOKEN %>';
    let  campgrounds = `<%-JSON.stringify(campgrounds)%>`; // <-- Why '%-' since ideally %= will not allow html to escape? B/cuz We want to treat this as javascript to make a variable --                                            
    // campgrounds = JSON.stringify(campgrounds, function(key, value) {
    //     if (key === 'title') value = value.replace("'", "");
    //     return value;
    // });
    campgrounds = JSON.parse(campgrounds);  //mapbox's data expects an obj w/ a key of features, containing all the data
</script>
<script src="/javascripts/searchbox.js">
    // Dif here, require(..), process.env, etc is not defined at this point
</script>
<script src="/javascripts/campgroundsMap.js">
    // DOM Events are not called here
</script>

        